.ant-card {
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0px 3px 13px -5px #ccc;
    .ant-card-body {
        padding: 20px !important;
    }
    .ant-tabs-nav-wrap {
        border-radius: 30px;
        box-shadow: 0px 3px 13px -5px #ccc;
        margin-top: 10px;
    }
    @media (max-width: 768px) {
        .ant-card-body {
            padding: 10px !important;
        }
    }
}
.list-card {
    border-radius: 10px;
}
.row-container {
    padding: 10px;
    height: calc(100vh - 60px);
}
.ant-tabs-ink-bar {
    display: none;
}
.col-wrap {
    height: calc(100vh - 80px);
}
.row-wrap {
    height: 100%;
    flex: 1;
    .ant-col {
        height: 50%;
    }
    .req-card,
    .trans-card {
        height: 100%;
        .ant-card-body,
        .trans-card {
            overflow: hidden;
            height: 100%;
            .req-card-wrap,
            .trans-card-wrap {
                overflow: auto;
                max-height: calc(100% - 47px);
            }
        }
    }
    .trans-card {
        height: calc(100% - 40px);
    }
}
.todo-wrap {
    height: calc(100vh - 115px);
    .td-card {
        height: 100%;
        .ant-card-body {
            height: 100%;
            .card-tab {
                height: calc(100% - 110px);
                overflow: hidden;
                .ant-tabs {
                    height: 100%;
                }
                .ant-tabs-content-holder {
                    height: 100%;
                    overflow: auto;
                }
            }
        }
    }
}
.calender-wrap {
    height: calc(100vh - 115px);
    .ant-card {
        height: 100%;
    }
    .ant-card-body {
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .card-body-wrap {
            height: 100%;
            overflow: hidden;
            flex: 1;
            .list {
                overflow: auto;
                max-height: calc(100% - 30px);
            }
        }
    }
}
