.child {
    &-card {
        height: 100% !important;
    }
    &-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        // margin: 0px 24px;
        .cyan {
            span:first-of-type {
                border-color: #369ae2;
                color: #369ae2;
            }
        }
        .orange {
            span:first-of-type {
                border-color: #fca232;
                color: #fca232;
            }
        }
        .green {
            span:first-of-type {
                border-color: #22b422;
                color: #22b422;
            }
        }
        .violet {
            span:first-of-type {
                border-color: #b42261;
                color: #b42261;
            }
        }
        .blue {
            span:first-of-type {
                border-color: #38a0eb;
                color: #38a0eb;
            }
        }
    }
    &-element {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
        margin-bottom: 46px;
        span {
            color: #333333;
            &:first-of-type {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                margin-bottom: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                font-size: 24px;
                font-weight: 600;
                border: 2px solid #369ae2;
                color: #369ae2;
            }
        }

        @media (max-width: 1919px) {
            span {
                font-size: 9px;
                &:first-of-type {
                    width: 32px;
                    height: 32px;
                    font-size: 18px;
                }
            }
        }
    }
}
