@import 'Assets/styles/global.scss';
.household-card {
    .child {
        &-content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-left: -10px;
            margin-right: -10px;
            &-wrap {
                padding-top: 10px;
            }
            .cyan {
                span:first-of-type {
                    border-color: $primary-color;
                    color: $primary-color;
                }
            }
            .orange {
                span:first-of-type {
                    border-color: $secondary-color;
                    color: $secondary-color;
                }
            }
            .green {
                span:first-of-type {
                    border-color: $success-color;
                    color: $success-color;
                }
            }
            .violet {
                span:first-of-type {
                    border-color: $danger-color;
                    color: $danger-color;
                }
            }
            .blue {
                span:first-of-type {
                    border-color: $dark-blue;
                    color: $dark-blue;
                }
            }
        }
        &-element {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
            margin-bottom: 20px;
            @media (min-width: 1440px) {
                margin-bottom: 46px;
            }

            span {
                font-size: 10px;
                font-weight: 500;
                @media (min-width: 1920px) {
                    font-size: 14px;
                }
                &:first-of-type {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    margin-bottom: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 700;
                    border: 2px solid #369ae2;
                    color: #369ae2;
                    @media (min-width: 1920px) {
                        font-size: 20px;
                        width: 48px;
                        height: 48px;
                    }
                }
            }
        }
    }
}
