.calender-card {
    .ant-card-body {
        padding: 0px !important;
    }
    .card-head {
        margin: 20px;
    }
}
.name-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 15px;
    border-top: 1px solid #ededed;
    span {
        font-weight: 700;
    }
    .circle {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }
    .blue {
        border-color: #38a0eb;
        span {
            color: #38a0eb;
        }
    }
    .orange {
        border-color: #fca232;
        span {
            color: #fca232;
        }
    }
    .green {
        border-color: #22b422;
        span {
            color: #22b422;
        }
    }
    .violet {
        border-color: #dc2cd1;
        span {
            color: #dc2cd1;
        }
    }
}

.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    &-day {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-right: 20px;
        span {
            font-size: 12px;
            &:first-of-type {
                font-weight: 700;
                font-size: 16px;
            }
        }
    }
    &-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 10px 15px;
        border-top: 1px solid #ededed;
    }
    &-wrap {
        display: flex;
        align-items: flex-start;
    }
    &-timer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0px 15px 10px 10px;
        width: 50px;
        span {
            &:first-of-type {
                margin-bottom: 5px;
            }
        }

        .stat {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            span {
                margin-right: 5px;
            }
        }
    }
    &-activity {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        span {
            &:first-of-type {
                color: #000;
                font-weight: 700;
            }
        }
    }
    &-info {
        width: 10px;
        height: 10px;
        background: red;
        border-radius: 50%;
    }
    .blue {
        background-color: #38a0eb;
    }
    .orange {
        background-color: #fca232;
    }
    .green {
        background-color: #22b422;
    }
    .violet {
        background-color: #dc2cd1;
    }
    .selected {
        background-color: #fafafa;
        .list-day {
            span {
                color: #000;
            }
        }
    }
}
